 *{
    margin: 0px;
    padding: 0px;
}
header{
    width: 100%; 
    /* background-color: black !important; */
    padding: 10px 20px;
      /* display: inline-block ;  */
     /* vertical-align: middle; */
     margin-bottom: 20px; 

}
.logo>img{
    /* width: 100px; */
    margin-bottom: 10px;
    margin-top: 25px;

}
.list-inline > li {
    display: inline-block;
    text-align: right;
}

.logo, .list{
    display: inline-block; 
    /* background-color: red; 
    /*  width: 20px;  */
     margin-right: 100px; 
    
}  

  .list{
    /* width: 50%; */
    /* padding-left: 5px;
    padding-right: 10px; */
    /* /* text-align: right;  */
    padding-left: 5px;
     padding-right: 5px; 
     vertical-align: baseline;  
 }  